# Ignorar carpetas de compilación
bin/
target/        # Para proyectos Maven
build/         # Para proyectos Gradle

/.idea/
/*.iml
.classpath
.project
.settings/

*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

*.properties
*.env
